@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB;
  --foreground: #171717;
  --primary: #155EEF;
  --primary-50: #EFF4FF;
  --success:#067647;
  --succes-50:#ECFDF3;
  --yellow:#B54708;
  --yellow-50:#FFFAEB;
  --orange:#B93815;
  --orange-50:#FEF6EE;
  --error:#B42318;
  --error-50:#FEF3F2;

  --font-noto: 'Noto Sans Thai', sans-serif;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  font-family: var(--font-noto);
}

.noto-sans{
  font-family: var(--font-noto) !important;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
